page-settings {
  .content-md {
      background-color: #01bf86;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
}
.button-md{
    width: -webkit-fill-available;
    border-top: 1px solid lightgrey;
  }
}
